.DS_Store

/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/src/
**/lib/
**/platformio.ini
**/partitions.csv

*.pyc

/secrets.yaml

/esphome
/.pio
/components-research

/.vscode/

CMakeListsPrivate.txt
CMakeLists.txt
/compile_commands.json
/.clang_complete
/.gcc-flags.json
/.temp-clang-tidy.cpp
/.clang-format
/.clang-tidy
/.editorconfig
/.pylintrc
