.DS_Store

/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/src/
**/lib/
**/platformio.ini
**/partitions.csv

*.pyc

/secrets.yaml

/esphome
/.pio

/.vscode/

compile_commands.json
.clang_complete
.gcc-flags.json
.temp-clang-tidy.cpp
