.DS_Store

/.esphome
/.platformio
/config/
**/.pioenvs/
**/.piolibdeps/
**/src/
**/lib/
**/platformio.ini
**/partitions.csv

*.pyc

/secrets.yaml

/esphome
/.pio
/.venv
/.build
/.vscode
/.nosync
/components-research

CMakeListsPrivate.txt
CMakeLists.txt
/compile_commands.json
/.clang_complete
/.gcc-flags.json
/.temp-clang-tidy.cpp
/.clang-format
/.clang-tidy
/.editorconfig
/.pylintrc
/pylintrc


